<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Call for Papers Application"/>
    <meta name="author" content="Stephane Nicoll and Brian Clozel"/>

    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">CfP Application</title>

    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">Call for Papers</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:class="${navSection == 'home' ? 'active' : ''}"><a th:href="@{/}">Home</a></li>
                <li th:class="${navSection == 'submit' ? 'active' : ''}"><a th:href="@{/submit}">Submit</a></li>
                <li th:class="${navSection == 'news' ? 'active' : ''}"><a th:href="@{/news}">News</a></li>
            </ul>

            <a class="btn btn-default navbar-btn navbar-right" sec:authorize="!hasRole('ROLE_USER')" th:href="@{/login}" role="button">Login</a>
            <ul class="nav navbar-nav navbar-right" sec:authorize="hasRole('ROLE_USER')">
                <li class="dropdown">
                    <a id="user-menu" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span sec:authentication="name">username</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <form th:action="@{/logout}" method="post" role="logout">
                                <button type="submit" class="btn btn-link">Sign Out</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="hasRole('ROLE_ADMIN')" th:class="${navSection == 'admin' ? 'active' : ''}"><a th:href="@{/admin}">Admin</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container-fluid wrapper">
    <div class="container">
        <div id="successMessage" th:if="${successMessage != null}" class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span th:text="${successMessage}" ></span>
        </div>
    </div>
    <div layout:fragment="content">
        <h1>Example content</h1>
    </div>
</div>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>